{% extends "layout.html" %}
{% block title %}
BLF Manifest
{% endblock %}

{% block javascript %}
<script>
    var editor;
    $(document).ready(function () {
        editor = ace.edit("editor");
        editor.setAutoScrollEditorIntoView(true);
        document.getElementById('editor').style.fontSize = '1.25rem';
        editor.setOptions({
            placeholder: "Upload a manifest or write a new one ...",
        });

        // get current manifest stored on server
        var session = editor.session
        $.ajax({
            url: "/api/manifest",
            type: 'GET',
            success: function (res) {
                session.insert({
                    row: 0,
                    column: 0
                }, res)
            }
        });
    });

    function reset_manifest() {
        $.ajax({
            url: '/api/manifest',
            type: 'DELETE',
            complete: function () {
                location.reload();
            }
        });
    };

    function hide(id) {
        $('#' + id).addClass('d-none')
    }

    function save_and_validate_manifest() {
        $.ajax({
            url: '/api/manifest',
            type: 'POST',
            data: {
                editor_content: editor.getValue()
            },
            dataType: 'json',
            complete: function () {
                $.ajax({
                    url: '/api/manifest',
                    type: 'VALIDATE',
                    complete: function (res) {
                        validation_msg = res.responseText
                        if (validation_msg) {
                            $('#validation-error').removeClass('d-none')
                            $('#validation-error-msg').text(res.responseText)
                        } else {
                            $('#validation-success').removeClass('d-none')
                            $("#validation-success").delay(3000).queue(function () {
                                $(this).addClass("d-none").dequeue();
                            });
                        }
                    }
                });
            }
        });
    }
</script>
{% endblock %}

{% block main_content %}
<div class="row">
    <div class="col-md-8">
        <div class="my-2 d-flex">
            <div class=" d-inline-block">
                <div class="input-group">
                    <div>
                        <form method="POST" enctype="multipart/form-data" action="/api/manifest">
                            <label class=" btn btn-sm btn-light border-2 border-dark" for="blf-manifest">
                                <i class="fas fa-upload"></i><span class="ms-2">Upload</span></label>
                            <input style="display:none;" type="file" id="blf-manifest" name="blf-manifest"
                                onchange="this.form.submit()" />
                        </form>
                    </div>
                </div>
            </div>
            <a class="btn btn-sm btn-light border-2 border-dark" href="/api/manifest" download="manifest.bcql"><i
                    class="fas fa-download"></i><span class="ms-2">Download</span></a>
        </div>
    </div>
</div>

<div class="row">
    <div>
        <div class="col-md-12 border" id="parent">
            <div id="editor" name="editor"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="mt-2">
            <button class="btn btn-sm btn-primary border-2 border-dark" onclick="save_and_validate_manifest();">
                <i class="fas fa-save"></i><span class="ms-2">Save and Validate</span></button>
            <button class="btn btn-sm btn-danger border-2 border-dark ms-2" onclick="reset_manifest();">
                <i class="fas fa-trash-alt"></i></i><span class="ms-2">Reset</span></button>
        </div>
    </div>
</div>

<div class="row mt-2">
    <div class="col-md-4">
        <div id="validation-success" class="d-none alert alert-success alert-dismissible fade show">
            <strong>Success!</strong> The manifest validation completed successfully.
            <button type="button" class="btn-close" aria-label="Close" onclick="hide('validation-success');"></button>
        </div>
        <div id="validation-error" class="d-none alert alert-danger alert-dismissible fade show">
            <strong>Not valid!</strong> The manifest raised the following errors:<br />
            <span id="validation-error-msg">Err</span>
            <button type="button" class="btn-close" aria-label="Close" onclick="hide('validation-error');"></button>
        </div>
    </div>
</div>
{% endblock %}