{% extends "layout.html" %}

{% block title %}
Process Model
{% endblock %}

{% block main_content %}
<div class="row">
    <div class="col-md-12">
        <div class="my-2 btn-toolbar">
            <div class="file-mgmt-btn">
                <button id="save-button" class="btn border-2 border-dark" onclick="exportDiagram()"
                    title="download as BPMN 2.0 diagram"><i class="fas fa-download"></i></button>
                <button id="new-diagram-button" class="btn border-2 border-dark" onclick="createNewDiagram()"
                    title="create new BPMN diagram"><i class="fas fa-file"></i></button>
                <button id="import-bpmn-button" class="btn border-2 border-dark" onclick="importBPMN()"
                    title="upload BPMN diagram"><i class="fas fa-upload"></i></button>
            </div>
            <div class="ms-4 zoom-buttons">
                <button id="zoomin-button" class="btn border-2 border-dark" onclick="zoomIn()" title="zoom in"><i
                        class="fas fa-plus"></i></button>
                <button id="zoomout-button" class="btn border-2 border-dark" onclick="zoomOut()" title="zoom out"><i
                        class="fas fa-minus"></i></button>
                <button id="zoomreset-button" class="btn border-2 border-dark" onclick="zoomReset()"
                    title="reset zoom"><i class="fas fa-crosshairs"></i></button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="border w-100" id="canvas">
        </div>
    </div>
</div>

<script>
    // modeler instance
    var bpmnModeler = new BpmnJS({
        container: '#canvas',
        keyboard: {
            bindTo: window
        }
    });

    // get current manifest stored on server
    $.ajax({
        url: "/api/process_model",
        type: 'GET',
        success: function (res) {
            console.log(res)
            openDiagram(res)
        }
    });


    function zoomIn() {
        bpmnModeler.get('zoomScroll').stepZoom(1);
    }

    function zoomOut() {
        bpmnModeler.get('zoomScroll').stepZoom(-1);
    }

    function zoomReset() {
        bpmnModeler.get('zoomScroll').reset();
    }

    function importBPMN() {

    }

    function createNewDiagram() {
        var diagramUrl = '/static/empty-diagram.bpmn';
        // load inital diagram file via AJAX and open it
        $.get(diagramUrl, openDiagram, 'text');
    }

    /**
     * Save diagram contents and print them to the console.
     */
    async function exportDiagram() {
        try {
            var result = await bpmnModeler.saveXML({ format: true });
            alert('Diagram exported. Check the developer tools!');
            console.log('DIAGRAM', result.xml);
        } catch (err) {
            console.error('could not save BPMN 2.0 diagram', err);
        }
    }

    /**
     * Open diagram in our modeler instance.
     *
     * @param {String} bpmnXML diagram to display
     */
    async function openDiagram(bpmnXML) {
        // import diagram
        try {
            await bpmnModeler.importXML(bpmnXML);

            // access modeler components
            var canvas = bpmnModeler.get('canvas');

            // zoom to fit full viewport
            canvas.zoom('fit-viewport');
        } catch (err) {
            console.error('could not import BPMN 2.0 diagram', err);
        }
    }

</script>
{% endblock %}