{% extends "layout.html" %}

{% block title %}
Process Model
{% endblock %}

{% block main_content %}
<div class="row">
    <div class="col-md-12">
        <div class="my-2 d-flex buttons">
            <div class="file-mgmt-btn">
                <button id="save-button" class="btn border-2 border-dark" onclick="exportDiagram()"
                    title="download as BPMN 2.0 diagram"><i class="fas fa-download"></i></button>
                <button id="new-diagram-button" class="btn border-2 border-dark" onclick="createNewDiagram()"
                    title="create new BPMN diagram"><i class="fas fa-file"></i></button>
                <button id="import-bpmn-button" class="btn border-2 border-dark" onclick="importBPMN()"
                    title="upload BPMN diagram"><i class="fas fa-upload"></i></button>
            </div>
            <div class="ms-4 zoom-buttons">
                <button id="zoomin-button" class="btn border-2 border-dark" onclick="zoomIn()" title="zoom in"><i
                        class="fas fa-plus"></i></button>
                <button id="zoomout-button" class="btn border-2 border-dark" onclick="zoomOut()" title="zoom out"><i
                        class="fas fa-minus"></i></button>
                <button id="zoomreset-button" class="btn border-2 border-dark" onclick="zoomReset()"
                    title="reset zoom"><i class="fas fa-crosshairs"></i></button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="border" style="height: 500px;" id="canvas">
        </div>
    </div>
</div>

<script>
    var diagramUrl = 'https://cdn.staticaly.com/gh/bpmn-io/bpmn-js-examples/dfceecba/starter/diagram.bpmn';

    // modeler instance
    var bpmnModeler = new BpmnJS({
        container: '#canvas',
        keyboard: {
            bindTo: window
        }
    });

    function zoomIn() {
        bpmnModeler.get('zoomScroll').stepZoom(1);
    }

    function zoomOut() {
        bpmnModeler.get('zoomScroll').stepZoom(-1);
    }

    function zoomReset() {
        bpmnModeler.get('zoomScroll').reset();
    }

    function importBPMN() {
        $.get(diagramUrl, openDiagram, 'text');
    }

    /**
     * Save diagram contents and print them to the console.
     */
    async function exportDiagram() {
        try {
            var result = await bpmnModeler.saveXML({ format: true });
            alert('Diagram exported. Check the developer tools!');
            console.log('DIAGRAM', result.xml);
        } catch (err) {
            console.error('could not save BPMN 2.0 diagram', err);
        }
    }

    /**
     * Open diagram in our modeler instance.
     *
     * @param {String} bpmnXML diagram to display
     */
    async function openDiagram(bpmnXML) {
        // import diagram
        try {
            await bpmnModeler.importXML(bpmnXML);

            // access modeler components
            var canvas = bpmnModeler.get('canvas');
            var overlays = bpmnModeler.get('overlays');

            // zoom to fit full viewport
            canvas.zoom('fit-viewport');

            // attach an overlay to a node
            overlays.add('SCAN_OK', 'note', {
                position: {
                    bottom: 0,
                    right: 0
                },
                html: '<div class="diagram-note">Mixed up the labels?</div>'
            });

            // add marker
            canvas.addMarker('SCAN_OK', 'needs-discussion');
        } catch (err) {
            console.error('could not import BPMN 2.0 diagram', err);
        }
    }

    // load external diagram file via AJAX and open it
    $.get(diagramUrl, openDiagram, 'text');
</script>
{% endblock %}