{% extends "layout.html" %}
{% block title %}
Dashboard
{% endblock %}
{% block javascript %}
<script>
    $(document).ready(function () {
        $('#block_statistic').DataTable({
            "dom":
                "<'row'<'col search-left'f>>" +
                "<'row'<'col't>>" +
                "<'row'<'col pagination-sm pagination-left'p>>",
        });
    });
    $(document).ready(function () {
        $('#sender_statistic').DataTable({
            "dom":
                "<'row'<'col search-left'f>>" +
                "<'row'<'col't>>" +
                "<'row'<'col pagination-sm pagination-left'p>>",
        });
    });
    $(document).ready(function () {
        $('#receiver_statistic').DataTable({
            "dom":
                "<'row'<'col search-left'f>>" +
                "<'row'<'col't>>" +
                "<'row'<'col pagination-sm pagination-left'p>>",
        });
    });
</script>
{% endblock %}
{% block main_content %}
<div class="row">
    <div class="col-3">
        <div class="mb-3">
            <h4>Current block:</h4>
            <b>Number:</b>
            {{dashboard.current_block_number}}
            <br>
            <b>Timestamp: </b>
            {{dashboard.current_block_timestamp}}
        </div>
        <hr>
        <div>
            <h4>Block statistic:</h4>
            <table id="block_statistic" class="table">
                <thead>
                    <th>Block number</th>
                    <th>Count</th>
                </thead>
                <tbody>
                    {% for key, value in dashboard.block_stats.items() %}
                    <tr>
                        <td> {{ key }} </td>
                        <td> {{ value }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-5">
        <div>
            <h4>Petri Net:</h4>
            <img src="{{ dashboard.petri_net_path }}" alt="Petri Net" class="w-100">
        </div>
        <hr>
        <div>
            <h4>BPMN diagram:</h4>
            <img src="{{ dashboard.bpmn_diagram_path }}" alt="BPMN diagram" class="w-100">
        </div>
        <hr>
        <div>
            <h4>DFG frequency:</h4>
            <img src="{{ dashboard.dfg_frequency_path }}" alt="DFG frequency" class="w-100">
        </div>
        <hr>
        <div>
            <h4>DFG performance:</h4>
            <img src="{{ dashboard.dfg_performance_path }}" alt="DFG performance" class="w-100">
        </div>
        <hr>
    </div>
    <div class="col-4">
        <div>
            <h4>Sender statistic:</h4>
            <table id="sender_statistic" class="table">
                <thead>
                    <th>Sender address</th>
                    <th>Count</th>
                </thead>
                <tbody>
                    {% for key, value in dashboard.sender_stats.items() %}
                    <tr>
                        <td> {{ key }} </td>
                        <td> {{ value }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <hr>
        <div>
            <h4>Receiver statistic:</h4>
            <table id="receiver_statistic" class="table">
                <thead>
                    <th>Receiver address</th>
                    <th>Count</th>
                </thead>
                <tbody>
                    {% for key, value in dashboard.receiver_stats.items() %}
                    <tr>
                        <td> {{ key }} </td>
                        <td> {{ value }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}