{% extends "layout.html" %}

{% block title %}
Primary Dashboard
{% endblock %}

{% block main_content %}
<div class="row">
    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Sender Statistics
            </div>
            <div class="card-body">
                <table id="sender-stats">
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Receiver Statistics
            </div>
            <div class="card-body">
                <table id="receiver-stats">
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-bar me-1"></i>
                Block Statistics
            </div>
            <div class="card-body">
                <div>
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-project-diagram me-1"></i>
                BPMN diagram with costs
            </div>
            <div class=" card-body">
                <img class="w-100" src="{{ url_for('static', filename='monitoring_data/bpmn_costs_diagram.png') }}">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-project-diagram me-1"></i>
                Directly-Follows Graphs Performance
            </div>
            <div class="card-body">
                <img class="w-100" src="{{ url_for('static', filename='monitoring_data/dfg_performance.png') }}">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-project-diagram me-1"></i>
                Directly-Follows Graphs Frequency
            </div>
            <div class="card-body">
                <img class="w-100" src="{{ url_for('static', filename='monitoring_data/dfg_frequency.png') }}">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-project-diagram me-1"></i>
                Petri Net
            </div>
            <div class="card-body">
                <img class="w-100" src="{{ url_for('static', filename='monitoring_data/petri_net.png') }}">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card bg-primary text-white mb-4">
            <div class="card-header">
                Current Block
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div>Number:</div>
                    </div>
                    <div class="col">
                        <span id="current_block_number"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div>Timestamp:</div>
                    </div>
                    <div class="col">
                        <span id="current_block_timestamp"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-header">
            </div>
            <div class="card-body">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-header">
            </div>
            <div class="card-body">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-header">
            </div>
            <div class="card-body">
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        /* TODO change to web-socket or query every second */
        sender_stats = new simpleDatatables.DataTable(document.getElementById('sender-stats'),
            { perPage: 5 })
        receiver_stats = new simpleDatatables.DataTable(document.getElementById('receiver-stats'),
            { perPage: 5 })

        $.ajax({
            url: "/api/sender_stats",
            type: 'GET',
            success: function (res) {
                sender_stats.import({
                    type: "json",
                    data: res
                });
            }
        });

        $.ajax({
            url: "/api/receiver_stats",
            type: 'GET',
            success: function (res) {
                receiver_stats.import({
                    type: "json",
                    data: res
                });
            }
        });

        $.ajax({
            url: "/api/current_blockstats",
            type: 'GET',
            success: function (res) {
                stats = JSON.parse(res);
                $('#current_block_number').text(stats['current_block_number']);
                $('#current_block_timestamp').text(stats['current_block_timestamp']);
            }
        });

        $.ajax({
            url: "/api/block_stats",
            type: 'GET',
            success: function (res) {
                blk_stats = JSON.parse(res)

                // sort response
                blk_stats.sort(function (a, b) {
                    var keyA = a["Block"],
                        keyB = b["Block"];
                    if (keyA < keyB) return -1;
                    if (keyA > keyB) return 1;
                    return 0;
                });

                first_blk_number = blk_stats[0]["Block"];
                last_blk_number = blk_stats.at(-1)["Block"];
                blocks = []
                stats = []
                for (var i = first_blk_number; i <= last_blk_number; i++) {
                    blocks.push(i)
                    let obj = blk_stats.find(o => o["Block"] === i);
                    if (obj === undefined) {
                        stats.push(0)
                    } else {
                        stats.push(obj["Number of Events"])
                    }
                }

                const data = {
                    labels: blocks,
                    datasets: [{
                        label: 'Number of Events',
                        backgroundColor: 'rgb(255, 99, 132)',
                        borderColor: 'rgb(255, 99, 132)',
                        data: stats,
                    }]
                };

                const config = {
                    type: 'bar',
                    data: data,
                    options: {}
                };
                var myChart = new Chart(
                    document.getElementById('myChart'),
                    config
                );
            }
        });

    });
</script>
{% endblock %}