{% extends "layout.html" %}

{% block title %}
Primary Dashboard
{% endblock %}

{% block main_content %}
<div class="row">
    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Sender Statistics
            </div>
            <div class="card-body">
                <table id="sender-stats">
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Receiver Statistics
            </div>
            <div class="card-body">
                <table id="receiver-stats">
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-bar me-1"></i>
                Block Statistics
            </div>
            <div class="card-body">
                <div>
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-project-diagram me-1"></i>
                BPMN diagram with costs
            </div>
            <div class=" card-body">
                <img class="w-100" src="{{ url_for('static', filename='monitoring_data/bpmn_costs_diagram.png') }}">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-project-diagram me-1"></i>
                Directly-Follows Graphs Performance
            </div>
            <div class="card-body">
                <img class="w-100" src="{{ url_for('static', filename='monitoring_data/dfg_performance.png') }}">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-project-diagram me-1"></i>
                Directly-Follows Graphs Frequency
            </div>
            <div class="card-body">
                <img class="w-100" src="{{ url_for('static', filename='monitoring_data/dfg_frequency.png') }}">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-project-diagram me-1"></i>
                Petri Net
            </div>
            <div class="card-body">
                <img class="w-100" src="{{ url_for('static', filename='monitoring_data/petri_net.png') }}">
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        /* TODO change to web-socket or query every second */
        sender_stats = new simpleDatatables.DataTable(document.getElementById('sender-stats'),
            { perPage: 5 })
        receiver_stats = new simpleDatatables.DataTable(document.getElementById('receiver-stats'),
            { perPage: 5 })

        $.ajax({
            url: "/api/sender_stats",
            type: 'GET',
            success: function (res) {
                console.log(res)
                sender_stats.import({
                    type: "json",
                    data: res
                });
            }
        });

        $.ajax({
            url: "/api/receiver_stats",
            type: 'GET',
            success: function (res) {
                console.log(res)
                receiver_stats.import({
                    type: "json",
                    data: res
                });
            }
        });
    });
</script>
{% endblock %}