{% extends "layout.html" %}

{% block title %}
Primary Dashboard
{% endblock %}

{% block main_content %}
<div class="row">
    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Sender Statistics
            </div>
            <div class="card-body">
                <table id="sender-stats">
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Receiver Statistics
            </div>
            <div class="card-body">
                <table id="receiver-stats">
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        /* TODO change to web-socket or query every second */
        sender_stats = new simpleDatatables.DataTable(document.getElementById('sender-stats'))
        receiver_stats = new simpleDatatables.DataTable(document.getElementById('receiver-stats'))

        $.ajax({
            url: "/api/sender_stats",
            type: 'GET',
            success: function (res) {
                console.log(res)
                sender_stats.import({
                    type: "json",
                    data: res
                });
            }
        });

        $.ajax({
            url: "/api/receiver_stats",
            type: 'GET',
            success: function (res) {
                console.log(res)
                receiver_stats.import({
                    type: "json",
                    data: res
                });
            }
        });
    });
</script>
{% endblock %}